@model ZEN.SaleAndTranfer.VM.MAS.GrVM

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var url1 = string.Empty;
}

<style>
    .font-normal {
        font-weight: normal;
    }
</style>

<form class="form-horizontal" id="form1">
    <div class="container">
        <h2>
            หน้าจอใบรับสินค้า (GR) : <small>แก้ไข GR</small>
        </h2>

        <hr />

        @Html.Partial("_MessagePartial", Model.MessageList)

        @Html.HiddenFor(m => m.grVM_MA.ST_PR_CODE)
        @Html.HiddenFor(m => m.grVM_MA.ST_DO_CODE)
        @Html.HiddenFor(m => m.grVM_MA.ST_GR_CODE)
        @Html.HiddenFor(m => m.grVM_MA.LOCATION_CODE)
        @Html.HiddenFor(m => m.grVM_MA.PLAN_DELIVERY_DATE)
        @Html.HiddenFor(m => m.grVM_MA.REMARK)
        @Html.HiddenFor(m => m.grVM_MA.DELETE_FLAG)
        @Html.HiddenFor(m => m.grVM_MA.CREATE_BY)
        @Html.HiddenFor(m => m.grVM_MA.CREATE_DATE)
        @Html.HiddenFor(m => m.grVM_MA.UPDATE_BY)
        @Html.HiddenFor(m => m.grVM_MA.UPDATE_DATE)

        <div class="panel panel-primary">
            <div class="panel-heading">รายชื่อสินค้า</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-6 control-label">เลขที่ใบตลาด (PR)</label>
                            <label class="col-md-6 control-label font-normal" style="text-align: left;">@Model.grVM_MA.ST_PR_CODE</label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 control-label">เลขที่ใบเตรียมรับสินค้า (DO)</label>
                            <label class="col-md-6 control-label font-normal" style="text-align: left;">@Model.grVM_MA.ST_DO_CODE</label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 control-label">เลขที่ทำรับ (GR)</label>
                            <label class="col-md-6 control-label font-normal" style="text-align: left;">@Model.grVM_MA.ST_GR_CODE</label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 control-label">Location</label>
                            <label class="col-md-6 control-label font-normal" style="text-align: left;">@Model.grVM_MA.resultList[0].LOCATION_CODE</label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 control-label">วันกำหนดส่งสินค้า</label>
                            <label class="col-md-6 control-label font-normal" style="text-align: left;">@Model.grVM_MA.PLAN_DELIVERY_DATE.Value.ToShortDateString()</label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 control-label">*วันที่ทำรับสินค้า</label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.grVM_MA.RECEIVE_DATE, Model.DT_SHORT_FORMAT,
                            new { @class = "form-control , datepicker" })
                            </div>
                            @*<label class="col-md-3 control-label font-normal" style="text-align: left;">@Model.grVM_MA.RECEIVE_DATE.Value.ToShortDateString()</label>*@
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 control-label">*หมายเลขอ้างอิง</label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.grVM_MA.REFERANCE_NO, new { @class = "form-control", maxlength = 50})
                            </div>
                            @*<div class="col-sm-6">
                        <span class=" pull-right">
                            <input type="button" class="btn btn-primary" value="บันทึก" onclick="gotoUpdate();" />
                            &nbsp;
                            <input type="button" class="btn btn-primary" value="ล้างหน้าจอ" onclick="gotoClear();" />
                        </span>
                    </div>*@
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 control-label">*ชื่อผู้รับของ</label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.grVM_MA.RECEIVE_BY, new { @class = "form-control" })
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-md-6 control-label">*สถานะใบเตรียมรับสินค้า (DO)</label>
                            <div class="col-md-6">
                                @if (Model.grVM_MA.DO_STATUS_CODE != null)
                                {
                                    @Html.DropDownListFor(m => m.grVM_MA.DO_STATUS_CODE,
                                          new SelectList(@Model.grVM_MA.doStatusCode, "ITEM_VALUE", "ITEM_TEXT")
                                , new { @class = "form-control" }
                                )
                                }
                            </div>
                        </div>
                    </div>
                    @* จะเพิ่มหน้าจอ Complaint *@
                    @Html.Partial("_GrComplainPartial", Model)

                    <div class="col-md-12">
                        <span class=" pull-right " style="margin-top:10px;margin-bottom:10px">
                            <input type="button" class="btn btn-primary" value="บันทึก" onclick="gotoUpdate();" />
                            &nbsp;
                            <input type="button" class="btn btn-default" style="margin-left:50px;" value="ล้างหน้าจอ" onclick="gotoClear();" />
                        </span>
                    </div>

                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">รายชื่อสินค้า</div>
                    <div class="panel-body">
                        <div class="table table-responsive">
                            <table class="table table-hover">
                                <tr>
                                    <th class="text-right">ลำดับ</th>
                                    <th>ประเภทสินค้า</th>
                                    <th>สั่งจากแบรนด์</th>
                                    <th>รหัสสินค้า</th>
                                    <th>ชื่อสินค้า</th>
                                    <th>รายละเอียดอื่นๆ</th>
                                    @if (Model.showImageFlag)
                                    {
                                        <th>รูปภาพ</th>
                                    }
                                    <th>จำนวนที่สั่ง</th>
                                    <th>หน่วยที่สั่ง</th>
                                    <th>จำนวนที่ส่ง</th>
                                    <th>หน่วยที่ส่ง</th>
                                    <th>จำนวนที่รับแล้ว</th>
                                    <th style="width:100px;">จำนวนที่รับ</th>
                                    <th>หน่วยที่รับ</th>
                                </tr>
                                @for (int i = 0; i < Model.grVM_MA.resultList.Count; i++)
                                {
                                    @Html.HiddenFor(m => m.grVM_MA.resultList[i].ST_GR_CODE)
                                    @Html.HiddenFor(m => m.grVM_MA.resultList[i].ROW_NO)
                                    @Html.HiddenFor(m => m.grVM_MA.resultList[i].LINE_NO)
                                    @Html.HiddenFor(m => m.grVM_MA.resultList[i].ST_DO_CODE)
                                    @Html.HiddenFor(m => m.grVM_MA.resultList[i].LOCATION_CODE)
                                    @Html.HiddenFor(m => m.grVM_MA.resultList[i].ST_PR_CATEGORY_ID)
                                    @Html.HiddenFor(m => m.grVM_MA.resultList[i].ST_PR_CATEGORY_NAME)
                                    @Html.HiddenFor(m => m.grVM_MA.resultList[i].ST_MAP_WH_ITEM_ID)
                                    @Html.HiddenFor(m => m.grVM_MA.resultList[i].ITEM_CODE)
                                    @Html.HiddenFor(m => m.grVM_MA.resultList[i].ITEM_NAME_TH)
                                    @Html.HiddenFor(m => m.grVM_MA.resultList[i].ITEM_NAME_TH2)
                                    @Html.HiddenFor(m => m.grVM_MA.resultList[i].QTY_REQUEST)
                                    @Html.HiddenFor(m => m.grVM_MA.resultList[i].REQUEST_UOM_CODE)
                                    @Html.HiddenFor(m => m.grVM_MA.resultList[i].QTY_SEND)
                                    @Html.HiddenFor(m => m.grVM_MA.resultList[i].SEND_UOM_CODE)
                                    @Html.HiddenFor(m => m.grVM_MA.resultList[i].REQUEST_BY_BRAND_CODE)
                                    @Html.HiddenFor(m => m.grVM_MA.resultList[i].REQUEST_BY_BRANCH_CODE)
                                    @Html.HiddenFor(m => m.grVM_MA.resultList[i].REQUEST_TO_BRAND_CODE)
                                    @Html.HiddenFor(m => m.grVM_MA.resultList[i].REQUEST_TO_BRANCH_CODE)
                                    @Html.HiddenFor(m => m.grVM_MA.resultList[i].RECEIVE_UOM_CODE)
                                    @Html.HiddenFor(m => m.grVM_MA.resultList[i].REMARK)
                                    @Html.HiddenFor(m => m.grVM_MA.resultList[i].DELETE_FLAG)
                                    @Html.HiddenFor(m => m.grVM_MA.resultList[i].CREATE_BY)
                                    @Html.HiddenFor(m => m.grVM_MA.resultList[i].CREATE_DATE)
                                    @Html.HiddenFor(m => m.grVM_MA.resultList[i].UPDATE_BY)
                                    @Html.HiddenFor(m => m.grVM_MA.resultList[i].UPDATE_DATE)
                                    @Html.HiddenFor(m => m.grVM_MA.resultList[i].FILE_PATH)


                                    var item = Model.grVM_MA.resultList[i];
                                    url1 = string.Format("{0}://{1}/{2}", this.Request.Url.Scheme, this.Request.Url.Authority, item.FILE_PATH);
                                    <tr>
                                        <td class="text-right" style="width:20px;">@item.ROW_NO.ToString("#,##0")</td>
                                        <td>@item.ST_PR_CATEGORY_NAME</td>
                                        <td>@item.REQUEST_TO_BRAND_CODE</td>
                                        <td>@item.ITEM_CODE</td>
                                        <td>@item.ITEM_NAME_TH</td>
                                        <td>@item.ITEM_NAME_TH2</td>
                                        @if (Model.showImageFlag)
                                        {
                                            <td><img class="zoom" src="@url1" onclick="window.open(src);" border="0" style="width:40px; height:40px;" alt=""></td>
                                        } 
                                        <td>@item.QTY_REQUEST</td>
                                        <td>@item.REQUEST_UOM_CODE</td>
                                        <td>@item.QTY_SEND</td>
                                        <td>@item.SEND_UOM_CODE</td>
                                        <td>@item.QTY_RECEIVED</td>
                                        @*<td>@item.QTY_RECEIVE</td>*@
                                        <td>
                                            @Html.TextBoxFor(m => m.grVM_MA.resultList[i].QTY_RECEIVE,
                                             new
                                             {
                                                 @class = "form-control no-copy-paste numberOnly",
                                                 //@onkeypress = "return event.charCode >= 48 && event.charCode <= 57"
                                             })
                                        </td>
                                        <td>@item.RECEIVE_UOM_CODE</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="/MAS/Gr/Index">กลับไปยังหน้าค้นหา</a>
    </div>
</form>


<script>
    function gotoUpdate() {
        if (confirm('@ViewBag.msgConfirmGrUpdate')) {
            var url1 = '@Url.Action("UpdateSave")';
            url1 = url1.substring(0, url1.lastIndexOf("UpdateSave")).concat("UpdateSave/");

            var vform = $('#form1');
            vform.attr("action", url1);
            vform.attr("method", "post");
            vform.submit();
        }
        else {
            return false;
        }
    }
    function gotoClear() {
        var url1 = '@Url.Action("Update")';
        url1 = url1.substring(0, url1.lastIndexOf("Update")).concat("Update");

        var vform = $('#form1');
        vform.attr("action", url1);
        vform.attr("method", "post");
        vform.submit();
    }
</script>