@model ZEN.SaleAndTranfer.VM.AUT.LoginVM

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Reset Password</h2>
    <hr />
</div>

@Html.Partial("_MessagePartial", Model.MessageList)

<div class="container">
    <div>
        <div class="panel panel-info" id="divResetPassword">
            <div class="panel-heading">Reset Password</div>
            <div class="panel-body">
                <form id="form1" class="form-horizontal">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-3 control-label">*ชื่อผู้ใช้งาน</label>
                            <div class="col-md-9">
                                @Html.HiddenFor(m => m.loginVM_MA.USER_NAME)
                                @Html.TextBoxFor(m => m.loginVM_MA.USER_NAME, new { @maxlength = "50", @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">*Email</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.loginVM_MA.EMAIL, new { @maxlength = "50", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">*รหัสผ่านใหม่</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.loginVM_MA.NEW_PASSWORD, new { @maxlength = "13", @class = "form-control", @type = "password" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">*ยืนยันรหัสผ่านใหม่</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.loginVM_MA.NEW_CONFIRM_PASSWORD, new { @maxlength = "13", @class = "form-control", @type = "password" })
                                <span class="help-block">กรุณาระบุ New Password ความยาว 8-13 ตัวอักษร</span>
                                <span class="help-block">New Password สามารถกรอกได้เฉพาะ 0-9, A-Z, a-z, - และ _ เท่านั้น</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-9">
                                <input type="button" value="บันทึก" class="btn btn-primary" onclick="gotoResetPassword();">
                                &nbsp;
                                <input type="button" value="ล้างค่า" class="btn btn-default" onclick="gotoClear();">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var updateComplete = '@ViewBag.UpdateComplete';
        if (updateComplete != null) {
            if (updateComplete == 1) {
                alert('บันทึกสำเร็จ');
                window.location = '/MAS/DashBoard';
            }
        }
    });

    function gotoResetPassword() {
        var url1 = '@Url.Action("ResetPasswordSave")';
        url1 = url1.substring(0, url1.lastIndexOf("ResetPasswordSave")).concat("ResetPasswordSave");

        var vform = $('#form1');
        vform.attr("action", url1);
        vform.attr("method", "post");
        vform.submit();
    }

    function gotoClear() {
        var url1 = '@Url.Action("ResetPassword")';
        url1 = url1.substring(0, url1.lastIndexOf("ResetPassword")).concat("ResetPassword/");

        var vform = $('#form1');
        vform.attr("action", url1);
        vform.attr("method", "post");
        vform.submit();
    }
</script>