
@using ZEN.SaleAndTranfer.UI.Util

@*<ul class="nav navbar-nav">
    <li><a href="/MAS/Dashboard/Index/">หน้าแรก</a></li>
    <li><a href="/MAS/Pr/Index/">ใบตลาด</a></li>
    <li><a href="/MAS/Do/Index/">ใบเตรียมรับสินค้า</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">การทำรับ<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="/MAS/Gr/Index/">ใบรับสินค้า</a></li>
            <li><a href="/MAS/RecTransfer/Index/">การทำรับ Tranfer</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">การนับสต๊อค<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="/MAS/ItemStock/InventoryStock">หน้าสาขานับสต๊อค</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">รายงาน<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="/RPT/Report/StockTotal">รายงานการส่งและรับสินค้า</a></li>
            <li><a href="/RPT/Report/StatusReceiveByDoAndGr">รายงานสถานะการรับสินค้า</a></li>
            <li><a href="/Acc/SendEndDayDoc/Index">ส่งเอกสารสิ้นวันให้ฝ่ายบัญชี</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">ดาวน์โหลด<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="/MAS/Download/Index">ดาวน์โหลดเอกสาร</a></li>
        </ul>
    </li>
</ul>*@

<ul class="nav navbar-nav">
    <li><a href='@Url.Action("Index", "Prq", new { Area = "" })'>หน้าแรก</a></li>
    <li><a href='@Url.Action("SearchItem", "Prq", new { Area = "", id = PrCategoryIDConst.All })'>เลือกสินค้า</a></li>
    <li><a href='@Url.Action("SearchItem", "Prq", new { Area = "", id = PrCategoryIDConst.History  })'>รายการที่เคยสั่ง</a></li>
    <li><a href='@Url.Action("SearchItem", "Prq", new { Area = "", id = PrCategoryIDConst.Promotion })'>โปรโมชั่น</a></li>
    <li><a href='@Url.Action("Index", "Contact", new { Area = "" })'>ช่องทางการติดต่อ</a></li>
    <li><a href='@Url.Action("Search", "Prq", new { Area = "" })'>ใบสั่งซื้อ</a></li>

</ul>